div{
    width: 400px;
    height: 400px;
    border: 1px solid red ;
    border-radius: 100%;
    background-image: url("../Excersie1/image/Puppy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    border: 10px groove orchid;
    border-radius: 60%;
}

.one{
    border: 10px dashed orchid;
}
.two{
    border: 10px dotted orchid;
}
.three{
    border: 10px double orchid;
}